body {
  margin: 0;
  font-family: sans-serif;
  background: rgb(0, 0, 0);
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  
}
.msg-content {
  white-space: pre-wrap;       
  overflow-wrap: break-word; 
  word-break: break-word;    
  max-width: 100%; 
  color: rgb(235, 240, 235);           
}
.chat-window {
  width: 1000px;
  height: 600px;
  border: 1px solid #1a1d19;
  border-radius: 8px;
  padding: 8px;
  overflow-y: auto;
  margin-bottom: 12px;
  background: #222121;
}

.msg {
  margin-bottom: 8px;
}

.msg-user {
  text-align: right;
}

.msg-bot {
  text-align: left;
}
.input-field{ 
  background: #3e3e3e;
  border-radius: 20px;
  color: white;
}
.input-row {
  display: flex;
  gap: 8px;
  width: 700px;
  
  border-radius: 50px;
}

.input-row textarea {
  flex: 1;
  padding: 8px;
  resize: none;
}

.input-row button {
  padding: 8px 14px;
  
  border: none;
  width: 15%;
  border-radius: 25px;
  background: #4a90e2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
