.main{
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  height: 80vh;
}

.inputbox textarea {
  width: 500px;
  padding: 10px 14px;
  height: 100px;
  font-size: 16px;
  
  

  border: 2px solid #ccc;
  border-radius: 8px;

  outline: none;
  transition: 0.2s ease;
}

.inputbox input:focus {
  border-color: #4A90E2;  
  box-shadow: 0 0 6px rgba(74, 144, 226, 0.4);
}